/** NNELS_CALS_v002 **/
/** dev-overrides.css **/

/* @group header-logo - logo-wordmark */

.header-logo {
	background-color: lime;
}

/* @end */

.block-masquerade {
	/*background-color: orange;*/
	float: left;
}

.block-switchtheme {
	/*background-color: red;*/
	float: right;
}

/* @end */
